<div class="normal-content">
    <h1><span class="latex">L<sup>a</sup>T<sub>e</sub>X</span> Stuff</h1>

    <p>On occasion I enjoy document formatting work using <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>, a language
    specifically designed for typesetting and creating beautiful documents. It's absolutely fantastic at making documents
    with consistent styles, automagically handling bibliographies, making cross-references, and generally just making
    text look <em>good</em>. Consequently I tend to use it wherever I can! Below is a small gallery of some of the
    projects I've worked on, ranging from small one-pagers, to large technical reports, to entire books.</p>

    <mat-card>
        <app-carousel [images]="images"></app-carousel>
    </mat-card>
</div>
