<div class="normal-content">
    <h1>*NIX Ricing</h1>

    <p>Since I spend much of my time on computers, I always see fit to customize the environment on them, and I go to pretty
        far lengths to do so! In the *NIX world this is often called "ricing", inspired by (of all things!) the car customization
        world.</p>

    <p>My ricing toolkit fundamentally consists of:</p>

    <ul>
        <li><a href="https://github.com/brndnmtthws/conky">Conky</a></li>
        <li><a href="https://github.com/polybar/polybar">Polybar</a></li>
        <li><a href="https://github.com/baskerville/bspwm">BSPWM</a></li>
    </ul>

    <p>&hellip;and others, like my app launcher, my various keyboard shortcuts &amp; macros, a few scripts, and so on. Everything here
        can be found at <a href="https://github.com/c7c8/dotfiles">my "dotfiles" git repository</a>, which stores my configuration
        files and scripts, with different branches for each machine I've riced. These are provided as an educational and reference
        tool more than a real set of software for use, so be warned: <b>I do <em>not</em> provide support for them!</b></p>

    <mat-card>
        <mat-card-title>Modern-Day: <em>Sathanas</em> "World" Style</mat-card-title>
        <mat-card-content>
            <p>This is my current desktop, with "dials" for different system stat displays and a nice world-map background.</p>

            <img src="assets/personal/ricing/sathanas.png" alt="sathanas modern">

            <p>This is for my desktop, which has dual monitors; this is the right screen view, the left screen is empty
                except for the bar at the top. All buttons are clickable, VLC controls at the top work due to a hacky telnet script,
                and the dials and clock update in real time.</p>

            <p>However, it didn't start out this way&hellip;</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>The Original: Ubuntu</mat-card-title>
        <mat-card-content>
            <img src="assets/personal/ricing/ubuntu-orig.png" alt="ubuntu">

            <p>Yup, nothing special. Just Ubuntu with a few tweaks applied, from ~2015. It didn't stay like this for long,
                though &mdash; I was soon onto working with Conky and i3!</p>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Next-Gen: <em>Lazarus</em></mat-card-title>
        <mat-card-content>
            <img src="assets/personal/ricing/stat-panel.png" alt="stat panel" class="small">

            <p>For the <em>longest</em> time, this was my stat panel! Fixed on the top right of my display and with a simple
                system bar on the bottom, this is what greeted me whenever I started my computer up. Not much to look at, but
                I suppose it got the job done.</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>The Transitionary: <em>IExploder</em> Battlemode</mat-card-title>
        <mat-card-content>
            <img src="assets/personal/ricing/battle-mode.gif" alt="battle mode">

            <p>As a small project, I added a <em>second</em> mode to this thing, which would completely change
                the Conky config file and display a "battlemode" animation. Those laptop outlines on the left are of my
                actual laptop at the time, with the labels corresponding to where the real hardware on the machine was.</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>The Polybar/<em>Freespace</em> Era: <em>Moloch</em></mat-card-title>
        <mat-card-content>

            <img src="assets/personal/ricing/moloch.jpg" alt="moloch">

            <p>This is when I finally transitioned to Polybar with completely original config and the same for
                Conky. I standardized on naming my devices after ships and fighters from the
                <a href="http://www.hard-light.net/index.php?p=about/freespace"><em>Freespace 2</em> universe</a>. This
                is a screenshot of the setup on my laptop, "Moloch", so-named for the <em>Moloch</em>-class corvette in the game. My
                desktop computer, "Sathanas", is similarly named after the <em>Sathanas</em>-class juggernaut.</p>
        </mat-card-content>
    </mat-card>
</div>
