<mat-toolbar>
    <a [href]="window.location.origin"
       class="header-title"
       matTooltip="Is it clich&eacute;d? Yes. Does it look cool? Yeah!"
       matTooltipShowDelay="1500">
        || CRMYERS.DEV ||
    </a>

    <!-- Computer stuff menu -->
    <button mat-button [matMenuTriggerFor]="computerMenu">Computers &amp; Code</button>
    <mat-menu #computerMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="computerProgramsMenu">Programs</button>
        <button mat-menu-item [matMenuTriggerFor]="computerWebDevMenu">Web Development</button>
        <button mat-menu-item>Data Viz</button>
        <button mat-menu-item>*NIX Ricing</button>
    </mat-menu>
    <mat-menu #computerProgramsMenu="matMenu">
        <button mat-menu-item>Works-in-Progress</button>
        <button mat-menu-item>Rust-Brainfuck</button>
        <button mat-menu-item>Hack for Venezuela Bulletin Board</button>
        <button mat-menu-item>SoftEng API Update Checker</button>
        <button mat-menu-item>SoftEng Hospital Navigator</button>
        <button mat-menu-item>MSP430 Tetris</button>
        <mat-divider></mat-divider>
        <em mat-menu-item>Old high school stuff:</em>
        <button mat-menu-item>Pathviz 2</button>
        <button mat-menu-item>N-Ball Simulator</button>
        <button mat-menu-item>JFrameList</button>
    </mat-menu>
    <mat-menu #computerWebDevMenu>
        <button mat-menu-item>SoftEng API Repository</button>
        <button mat-menu-item>Twitter Analyzer</button>
        <button mat-menu-item>Secret 31</button>
        <button mat-menu-item>Eilat Transportation Site</button>
        <a [href]="window.location.origin"
           matTooltip="To understand recursion, you must first understand recursion..."
           matTooltipShowDelay="500"
           mat-menu-item>
            CRMyers.dev
        </a>
    </mat-menu>

    <!--Art stuff menu -->
    <button mat-button [matMenuTriggerFor]="artMenu">Art 'n' Stuff</button>
    <mat-menu #artMenu>
        <button mat-menu-item>LaTeX Stuff</button>
        <button mat-menu-item>Blender Renders</button>
        <button mat-menu-item>Cooking &amp; Baking</button>
    </mat-menu>

    <!-- Game stuff menu -->
    <button mat-button [matMenuTriggerFor]="gamesMenu">Random Game Things</button>
    <mat-menu #gamesMenu>
        <button mat-menu-item>Minecraft</button>
        <button mat-menu-item>Factorio</button>
        <button mat-menu-item>Space Engineers</button>
        <button mat-menu-item>Kerbal Space Program</button>
        <button mat-menu-item>Terraria</button>
        <button mat-menu-item>Other things</button>
    </mat-menu>

    <button mat-button>Travel photos</button>
    <button mat-button>Interesting Links &amp; Stuff I Like</button>
    <button mat-button>Contact</button>
</mat-toolbar>

<div class="content-container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <a [href]="window.location.origin"><img src="/assets/img/gtva.png" alt="logo thingy"/></a>
        <a href="https://github.com/c7c8/crmyers.dev"><img src="/assets/img/gh-logo.png" alt="github logo"/></a>
        <p><em>Copyright &copy; 2019- Christopher Myers. Code available under the GNU Affero General Public License, individual works may differ.
            <b><a href="https://github.com/c7c8/crmyers.dev/issues/new">Report a bug</a></b></em>
        </p>
    </footer>
</div>
