<mat-toolbar>
    <a [routerLink]="['/personal']"
       class="header-title"
       matTooltip="Is it clich&eacute;d? Yup. Does it look cool? Yup."
       matTooltipShowDelay="1500">
        || CRMYERS.DEV ||
    </a>

    <!-- Computer stuff menu -->
    <button mat-button [matMenuTriggerFor]="computerMenu">Computers &amp; Code</button>
    <mat-menu #computerMenu="matMenu">
        <button mat-menu-item [routerLink]="['/personal/programs']">Programs</button>
        <button mat-menu-item [routerLink]="['/personal/webdev']">Web Development</button>
        <button mat-menu-item [routerLink]="['/personal/ricing']">*NIX Ricing</button>
    </mat-menu>

    <!--Art stuff menu -->
    <button mat-button [matMenuTriggerFor]="artMenu">Arts, Crafts, 'n' Stuff</button>
    <mat-menu #artMenu>
        <button mat-menu-item [routerLink]="['/personal/crafts/latex']">LaTeX Stuff</button>
        <button mat-menu-item [routerLink]="['/personal/crafts/blender']">Blender Renders</button>
        <button mat-menu-item [routerLink]="['/personal/crafts/cooking']">Cooking &amp; Baking</button>
        <button mat-menu-item [routerLink]="['/personal/crafts/gardening']">Gardening</button>
    </mat-menu>

    <!-- Game stuff menu -->
    <button mat-button [matMenuTriggerFor]="gamesMenu">Random Game Things</button>
    <mat-menu #gamesMenu>
        <button mat-menu-item [routerLink]="['/personal/games/minecraft']">Minecraft</button>
        <button mat-menu-item [routerLink]="['/personal/games/factorio']">Factorio</button>
        <button mat-menu-item [routerLink]="['/personal/games/space-engineers']">Space Engineers</button>
        <button mat-menu-item [routerLink]="['/personal/games/ksp']">Kerbal Space Program</button>
        <button mat-menu-item [routerLink]="['/personal/games/terraria']">Terraria</button>
        <button mat-menu-item [routerLink]="['/personal/games/other']">Other things</button>
    </mat-menu>

    <button mat-button [routerLink]="['/personal/travel']">Travel photos</button>
    <button mat-button [routerLink]="['/personal/interesting-stuff']">Interesting Links &amp; Stuff I Like</button>
    <button mat-button [routerLink]="['/personal/contact']">Contact</button>
</mat-toolbar>

<div class="content-container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <a [href]="window.location.origin"><img src="/assets/img/gtva.png" alt="logo thingy"/></a>
        <a href="https://github.com/c7c8/crmyers.dev"><img src="/assets/img/gh-logo.png" alt="github logo"/></a>
        <p><em>Copyright &copy; 2019-{{year()}} Christopher Myers. Site code available under the GNU Affero General Public License, individual works on display may differ.
            <b><a href="https://github.com/c7c8/crmyers.dev/issues/new">Report a bug</a></b></em>
        </p>
    </footer>
</div>
