<mat-toolbar>
    <a href="https://crmyers.dev/personal"
       class="header-title"
       matTooltip="Is it clich&eacute;d? Yes. Does it look cool? Yeah!"
       matTooltipShowDelay="1500">
        || CRMYERS.DEV ||
    </a>

    <button mat-button [matMenuTriggerFor]="codeMenu">Computers &amp; Code</button>
    <mat-menu #codeMenu="matMenu"></mat-menu>

    <button mat-button [matMenuTriggerFor]="artMenu">Art 'n' Stuff</button>
    <mat-menu #artMenu></mat-menu>

    <button mat-button [matMenuTriggerFor]="gamesMenu">Random Game Things</button>
    <mat-menu #gamesMenu></mat-menu>

    <button mat-button [matMenuTriggerFor]="photosMenu">Travel photos</button>
    <mat-menu #photosMenu></mat-menu>

    <button mat-button>Interesting Links &amp; Stuff I Like</button>
    <button mat-button>Contact</button>
</mat-toolbar>

<div class="content-container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <a href="https://crmyers.dev"><img src="/assets/img/gtva.png" alt="logo thingy"/></a>
        <a href="https://github.com/c7c8/crmyers.dev"><img src="/assets/img/gh-logo.png" alt="github logo"/></a>
        <p><em>Copyright &copy; 2019- Christopher Myers. Code available under the GNU Affero General Public License, individual works may differ.
            <b><a href="https://github.com/c7c8/crmyers.dev/issues/new">Report a bug</a></b></em>
        </p>
    </footer>
</div>
