<h1>Travel Photos</h1>
<div gdColumns="repeat(3, 1fr)" gdRows="1fr!" gdGap="0.5em">

	<!-- Misc -->
	<app-image-card img="/assets/personal/travel/misc/vt-forest-valley.jpg">
		<picture-caption>River valley in rural Vermont</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/misc/nh-south-beach.jpg">
		<picture-caption>Beach in southern Rhode Island</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/misc/nearby-hike.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/misc/long-island-beach.jpg"></app-image-card>

	<!-- Masada -->
	<app-image-card img="/assets/personal/travel/masada-hike/sunrise.jpg">
		<picture-caption>Sunrise from the top of Masada, in Israel</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/masada-hike/valley.jpg">
		<picture-caption>Valley next to Masada</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/masada-hike/roman-building.jpg">
		<picture-caption>Fortification (Masada itself) on top of the plateau</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/masada-hike/roman-bath-room.jpg">
		<picture-caption>Roman <em>caldarium</em> (hot room) inside Masada</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/masada-hike/bird.jpg">
		<picture-caption>A bird on Masada (not my photo)</picture-caption>
	</app-image-card>

	<!-- Israel (general) -->
	<app-image-card img="/assets/personal/travel/israel/ayalon-factory.jpg">
		<picture-caption>Part of the historic underground bullet factory at Ayalon</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/building.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/cat.jpg">
		<picture-caption>The cats of Israel are <em>everywhere!</em></picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/cat2.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/church-aedicule.jpg">
		<picture-caption>The Aedicule in the Church of the Holy Sepulcre</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/church-portrait.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/church-slab.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/colloseum.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/date-farm.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/dome-on-the-rock.jpg">
		<picture-caption>The Dome on the Rock. I was not able to visit this location.</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/eilat-coast.jpg">
		<picture-caption>The Eilat coastline</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/green-valley.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/timna-valley-mines.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/jerusalem.jpg">
		<picture-caption>View of the Jerusalem skyline (or part of it, anyways)</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/jerusalem-market.jpg">
		<picture-caption>A market in Jerusalem</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/jerusalem-mega-candy.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/market.jpg">
		<picture-caption>A market in Tel-Aviv</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/market2.jpg"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/tel-aviv.jpg" gdColumn="span 3"></app-image-card>
	<app-image-card img="/assets/personal/travel/israel/ketura.jpg">
		<picture-caption>Kibbutz Ketura viewed from atop a nearby plateau</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/arava-dorms-street.jpg">
		<picture-caption>The dorms &amp; suites for the Arava Institute, in Ketura</picture-caption>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/jordan-border.jpg">
		<picture-caption>The border between Israel and Jordan</picture-caption>
		<picture-description>You are explicitly told <em>not</em> to get anywhere near it, because the IDF routinely
		patrols and if they see footsteps, they <em>will</em> come to the kibbutz (Ketura) to find out if it was someone
		there.</picture-description>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/onion-farm.jpg">
		<em>An enormous onion farm not too far from Ketura</em>
	</app-image-card>
	<app-image-card img="/assets/personal/travel/israel/onion-farm-panorama.jpg" gdColumn="span 2"></app-image-card>
</div>
