<div class="normal-content">
	<h1>Gardening</h1>

	<p>Everyone needs a covid-19 hobby, right? Mine was gardening! I always kind of wanted to have a garden with
		useful plants in it (like herbs!), so when my <span matTooltip="Thanks <3">girlfriend brought me a
			basil plant and a rosemary plant</span>, my small scale gardening really took off!</p>

	<mat-card>
		<mat-card-title>Original Trio</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/starter.jpg" alt="original trio"/>
			<p>My original garden had a rosemary plant, a basil plant, and a pot for thyme that I had just
			planted. I kept it by a window, but this wasn't <em>nearly</em> enough&hellip;</p>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>More!</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/more.jpg" alt="more"/>
			<p>I could not resist adding more, and soon added pots for thyme, oregano, and dill.</p>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>More, and purple!</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/more-purple.jpg" alt="purple"/>
			<p>I soon moved into a new apartment that had only east-facing windows, so I bought a small
			low-power grow light to keep my plants happy</p>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>Going big</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/new-light.jpg" alt="new light"/>
			<p>Turns out that blurple light wasn't very powerful, so I gave in and bought a <em>very</em>
			powerful one. And I added still more plants, including different basil varieties, sage,
			jalapenos, tobasco peppers, tomatoes, and onions.</p>

			<p>Around this point, Amazon started recommending books on growing marijuana to me. Can't imagine why.</p>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>Transplant</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/transplant.jpg" alt="root bound"/>
			<img src="assets/personal/gardening/tub.jpg" alt="giant tub"/>
			<p>You can probably tell that these pots were much too small for the plants, so I upgraded.
			I wanted to get a giant planter and put them all together, but it turns out that buying a
			50 gallon utility tote, punching holes in the bottom, and using the lid as the water basin
				works just as well and is actually far cheaper.</p>

			<p>By the time I got around to doing this, my bigger plants were badly root bound. Unfortunately
			the rosemary didn't survive (soil didn't have enough drainage and I wasn't watering it right) so
			it isn't in these pictures. The jalapeno, tomato, and tobasco pepper plants were moved
			into a second identical tub outdoors, where the tomatoes grew absolutely enormous.</p>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-title>Current: Dual planters</mat-card-title>
		<mat-card-content>
			<img src="assets/personal/gardening/current.jpg" alt="current"/>
			<p>There wasn't enough vertical space for my plants to grow in the previous setup, so I
			moved them to a new spot in my apartment and positioned the light higher. After winter hit
			the pepper and tomato plants outside died (as I hoped; they were overcrowded) so I brought that
			tub in and broke up + refertilized the soil. I now have basil (the original that my girlfriend
			gave me!), dill, rosemary, sage (seedlings), oregano, thyme, a tiny cactus, and -- soon -- garlic!</p>

			<p>Of those plants&hellip;</p>
			<ul>
				<li>The rosemary will stay perpetually potted as it needs special watering treatment and a soil mix high
				in perlite (for drainage).</li>
				<li>The tiny cactus (another gift from my girlfriend) will remain in a tiny pot for similar reasons</li>
				<li>The oregano will be planted in the soil in the tub soon, once it's grown more</li>
				<li>The thyme is only with me until spring when I can give it back to my parents (it's not mine).</li>
			</ul>
		</mat-card-content>
	</mat-card>
</div>
