<div class="normal-content">
	<h1>Blender Renders</h1>

	<p><a href="https://www.blender.org/">Blender</a> is a sophisticated 3D modeling and rendering program that can
		easily
		compete with proprietary solutions like Maya. I got into 3D modeling around summer 2017 at first as a passing
		interest, but later
		with much more seriousness as I tried to find a way to express creativity beyond just code. I can't draw at all
		thanks
		to a fun neurological/muscle problem, so 3D modelling is the next best thing! Blender is my tool of choice
		because
		not only is it ridiculously high quality, but it's entirely free-as-in-freedom and open-source!</p>

	<p>Below is a gallery of most of my work, in no particular orders. Clicking on one of the tiles will
		reveal more details on the work, such as the inspiration or behind it. Both high-quality finished works and
		early drafts or learner's works are shown here, so you can picture my progress over time.</p>

	<div gdColumns="repeat(3, 1fr)" gdRows="1fr!" gdGap="0.5em">
		<app-image-card img="/assets/personal/blender/enterprise-ad-notexture.jpg"
						date="September 2017"
						title="Enterprise AD">
			<picture-caption>Untextured model of the Enterprise (1701-A) with lights themed after the Enterprise D.</picture-caption>
			<picture-description>
				<p>
					Something I always wanted to see was the old-style <em>Enterprise</em>, from <em>Star Trek: The
					Original Series,</em>
					lit and textured as if it was from the era of <em>Star Trek: The Next Generation.</em> I started
					modelling
					using the plethora of orthographic images of the <em>Enterprise</em> available on the internet and
					made
					a simple lighting prototype to test out the model, and it looked great!
				</p>
				<p>
					After that life caught up with me, so I stopped working on it, but I was satisfied anyways. These
					days you can
					see a modern-looking, fully CGI <em>Enterprise</em> briefly featured in <em>Star Trek:
					Discovery.</em>
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/magnet-toy.jpg"
						date="January 2019"
						title="Desk Magnet Toy">
			<picture-caption>A model of a magnet fidget toy that I keep on my desk.</picture-caption>
			<picture-description>
				<p>
					I was bored before heading off to my project-abroad quarter of my junior year and I felt like
					making a render of something. I looked around my desk and realized that the little slow-fall
					magnet slider toy I have would be perfect for an animation! I wanted to make it photorealistic,
					with the camera and lights tracking the toy as it moved up, rotated around once (so the slider would
					smoothly
					fall), and went back into its base.
				</p>
				<p>
					I got all the modelling and texturing done &mdash; and it looks pretty good if I do say so myself!
					&mdash; so I set on the animations next. Unfortunately that wasn't nearly as easy as I hoped.
					The motion I wanted involved physics with constraints -- I wanted the slider to collide with either
					end of the toy while under the influence of gravity, <em>and</em> stay locked on the axis of the
					toy's shaft. I could get one or two working at the same time, but all three proved impossible.
					Either there would be weird collision errors with the end caps, or the slider wouldn't stay locked
					on the axis, or some other arcane issue would pop up.
				</p>
				<p>
					Frustrated and out of time, I gave up and just rendered a still image of it. I'm proud of that, at
					least.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/dreadbot-gears.jpg"
						date="August 2017"
						title="'Dreadbots' Gears">
			<picture-caption>'Dreadbots' gear lapel pins.</picture-caption>
			<picture-description>
				<p>
					In high school, my FIRST Robotics Competition (FRC) team was Team 3656, the "Dreadbots". I wanted
					to test out photorealism (especially with anisotropy, which I hadn't tried before) so I gave these
					gears &mdash; modeled after the team's real-life wooden laser-cut-out lapel pins &mdash; a try.
					This was my first piece to pass the ultimate photorealism test, fooling people into believing
					they were real!
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card gdRow="span 2"
						img="/assets/personal/blender/lilles-vengeance.jpg"
						date="November 2019"
						title="Lille's Vengeance">
			<picture-caption>A corvette on a lake, designed for the cover of a book my dad wrote.</picture-caption>
			<picture-description>
				<p>This was a relatively simple render that I designed for the cover of my dad's book,
					<a href="https://www.amazon.com/DARK-STAR-PARIS-KNIGHT-ebook/dp/B0825BQSXZ"><em>The Dark
						Star of Paris Knight</em></a>. The boat and water were actually incredibly easy to make
					(Blender has a nice water simulation that I leveraged, and boats are easy to model), it was the
					aurora that took the most effort! Auroras are tricky to get right because they have emissivity
					from a volume, <em>and</em> it has to fade with height and vary in color &amp; intensity. To
					add an extra artsy feel to the whole image, I did some postprocessing with GIMP to add an oil
					painting effect.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/anvil-pen.jpg"
						date="December 2017"
						title="Anvil & Pen">
			<picture-caption>A giant pen next to an anvil. Or a small anvil next to a pen. You decide.</picture-caption>
			<picture-description>
				<p>
					I was bored one day after the semester ended. I had a pen that I modeled out, and I had an
					anvil that I had modeled out. Why not both at the same time? And so the anvil+pen is born.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/combadge-2.jpg"
						date="September 2017"
						title="Combadge">
			<picture-caption>A poorly-textured "combadge" from Star Trek.</picture-caption>
			<picture-description>
				<p>Continuing with the theme of my <em>Star Trek</em> obsession, this is communications badge
					("combadge") with <em>very</em> poorly-made materials. I didn't work on this project too long,
					needless to say.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/donut-final.jpg"
						date="August 2017"
						title="Obligatory Donut">
			<picture-caption>The original. The first render that practically every Blender artist makes.</picture-caption>
			<picture-description>
				<p>
					Yup, I have one of these too. This was the first 3D render I ever made, following the excellent
					tutorials from <a href="https://www.blenderguru.com/">Blender Guru</a>. These days the original
					"donut" series has been taken down and replaced with an updated and greatly expanded series, which
					you can find <a href="https://www.youtube.com/playlist?list=PLjEaoINr3zgEq0u2MzVgAaHEBt--xLB6U">here.</a>
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/cant-outrun-bots.jpg"
						date="July 2019"
						title="Can't Outrun the Bots">
			<picture-caption>A group of giant Amazon warehouse robots knocking down an Outrun-themed city.</picture-caption>
			<picture-description>
				<p>
					At the end of my internship with Amazon Robotics (AR) I had to give a project presentation in front
					of a
					bunch of AR leadership so they could evaluate my work and (later) decide to hire me on. This was one
					of two AR-themed renders I made that summer as a sort of humorous shock factor at the end of the
					presentation.
					The idea was to put a large view of it at the end of the slideshow on the "Questions?" slide, so the
					audience would have full view of it and have a <em>number</em> of questions.
				</p>
				<p>
					To my delight it worked perfectly and I got a reasonable number of gasps and laughter, which is
					exactly
					what I wanted. It's not <em>really</em> a successful internship if you don't make your employer
					question your sanity, is it?
				</p>
			</picture-description>
		</app-image-card>


		<app-image-card img="/assets/personal/blender/ar-podbot.jpg"
						date="June 2019"
						title="Amazon Podbot">
			<picture-caption>Instead of Amazon robots picking up totes, how about totes picking up stacks of Amazon
				robots?
			</picture-caption>
			<picture-description>
				<p>
					Another one of my heartily-enjoyed "make-management-think-you're crazy" renders, except this time
					for
					my internship start presentation. Amazon's robotic warehouse floors are all about
					<span matTooltip="Well, maybe not so little">little</span> roomba-like robots driving around and
					picking up totes from below, so for fun I inverted the scenario. Unfortunately, not many people at
					Amazon saw this one, but I did get a fun desktop background out of it.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/reactor.jpg"
						date="May 2018"
						title="Portable Sci-Fi Reactor">
			<picture-caption>A portable, sci-fi-looking reactor digitally inserted into a real room.</picture-caption>
			<picture-description>
				<p>
					I moved into my student apartment well ahead of the rest of my roommates, so I wanted to prank one
					of them by making it look like I set up some kind of sci-fi -esque reactor in his room. I modeled
					out
					the reactor, made textures for it, designed an animation (the cap on top rotates about while slowly
					rising, then falling with a puff of steam from the bottom), recorded a video of the background, and
					got motion tracking working so I could actually insert it into the room. Unfortunately,
					I wasn't able to finish due to 1) render time, 2) lighting, and 3) problems with the shadow catcher
					on the floor. The reactor still looked cool though, and to this day I'm fairly proud of it.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/cell-room.jpg"
						date="May 2018"
						title="Cell Room">
			<picture-caption>An unfinished model of a room &mdash; someone's whole world &mdash; in a room.</picture-caption>
			<picture-description>
				<p>
					During a creative writing class I had an idea for a scenario where <em>someone</em> built a massive
					complex of cubic living spaces inhabited by one person, who had no contact with anyone but computers
					and robots since birth. The idea was that it might be some kind of long term experiment, but I only
					fleshed out an early "hook" for the story. I wanted to try modeling out one of these rooms to get a
					better feel for the setting, so I made this!
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/sdc-hydra.jpg"
						date="April 2018"
						title="One Coin, Two Sides">
			<picture-caption>A satellite development club (SDC) / Hydra joke.</picture-caption>
			<picture-description>
				<p>
					The president of a club I was a member of (Satellite Development Club, or SDC) was a big fan of
					<em>Captain America</em>, so I made a joke render to mess with her. The Hydra emblem (ultimate
					archenemy of Captain America) is on one side of the coin while part of the SDC logo is on the other.
					This also served the dual purpose of being another photorealism test, which in my opinion came out
					much better than the &quot;Dreadbot&quot; gears.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/dreadbot-logo.jpg"
						date="April 2018"
						title="'Dreadbot' Metal Logo">
			<picture-caption>A super-high-detail logo for my high school robotics team.</picture-caption>
			<picture-description>
				<p>
					The original caption has it all. This is by far one of the most detailed renders I've made, at least
					in terms of the textures! All the textures and materials are custom (not just lifted off the
					internet)
					and the logo even stays faithful to the original gear teeth in-joke (there are 20 teeth on the gear,
					3+6+5+6=20). I made an animation of it, too, where the gear rotates slowly clockwise.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card gdRow="span 2"
						img="/assets/personal/blender/nasda-satellites.jpg"
						date="April 2018"
						title="NASDA Satellites">
			<picture-caption>Recreation of a still from the intro video to the game Warzone 2100.</picture-caption>
			<picture-description>
				<p>
					This was my attempt and testing how tough it would be to make an up-to-date version of the intro
					video to the old RTS game <em>Warzone 2100</em>. I didn't get very far (detail and time were
					lacking)
					but I did get a fun technical test of procedural textures out of it. While I'm immensely proud of
					how
					well the procedural solar panel texture came out, I am intensely frustrated by my problems with the
					atmosphere. I never did get a realistic atmosphere view from space working.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/phaser.jpg"
						date="March 2018"
						title="Modern Metal Phaser">
			<picture-caption>A metallic phaser from Star Trek: The Next Generation</picture-caption>
			<picture-description>
				<p>
					This was either my second or third attempt at making a phaser from <em>Star Trek: The Next
					Generation</em>,
					and it came out okay. I seriously botched the handle but some of the effects on the metal were kind
					of nice.
					I did take some creative liberties with making it out of metal (instead of plastic like the original
					prop)
					and adding a charging port, but I wish I could've put more detail in. Truth is, I need to get up to
					that
					level of modelling still. Besides, there's only so much you can do when the original prop simply
					didn't
					have <em>that much detail</em>.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/anvil-on-pen.jpg"
						date="December 2017"
						title="Anvil on Pen">
			<picture-caption>A tiny anvil on an enormous pen overlooking the sunset. What more could you ask for?
			</picture-caption>
			<picture-description>
				<p>
					I was bored, I had a pen model, I had an anvil model, and I could whip up a procedural sky and sun
					in a few minutes. Playing with camera focus is fun, isn't it?
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/kobayashi-maru.jpg"
						date="October 2017"
						title="Kobayashi Maru">
			<picture-caption>Starfleet faces down the Shivans from the Freespace game series.</picture-caption>
			<picture-description>
				<p>
					Believe it or not, this is made in blender! The fleets are to scale within each other, but
					in practice the Shivan fleet (red) should be much, much bigger than the Starfleet ships. The
					smallest
					Shivan ship is about the same length as the largest Starfleet ship, but I had to shrink them down
					so they'd fit on the same image.
				</p>
				<p>
					The Shivans are also hilariously overpowered compared to Starfleet (seriously: rabid fans on both
					sides have done the math), so these Starfleet ships are basically about to be turned into a hot,
					dispersing gas &mdash; hence one of the ships swearing. The title is a reference to the "Kobayashi
					Maru" test, a test given to Starfleet academy cadets to ensure they're prepared for the reality of
					command. The short version is, cadets are asked to command a simulated ship in a hopeless mission
					where every single outcome leads to failure &mdash; there's quite literally nothing you can do to
					win.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/tanks.jpg"
						date="September 2017"
						title="Tanks">
			<picture-caption>A bunch of gas cylinders/tanks.</picture-caption>
			<picture-description>
				<p>
					I'm... not really sure why I made this. I think I wanted to test out auto-grunge on Substance
					Painter? Still though, a bunch of gas tanks is weird even for me, I have literally no memory of why
					I chose this.
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/apartment.jpg"
						date="March 2018"
						title="Apartment">
			<picture-caption>An architectural render of my first student apartment.</picture-caption>
			<picture-description>
				<p>
					This was as much based on inspiration from pictures of the apartment I would move into (my roommates
					toured and sent pictures) as it was a technology test. There's a plugin for Blender I wanted to try
					that would let you calculate focal lengths, camera angles, etc. using perspective lines, and I
					wanted
					to try it. I also wanted to hone my skills at making textures (although this didn't come out <em>quite</em>
					as nice as I wanted it to!).
				</p>
			</picture-description>
		</app-image-card>

		<app-image-card img="/assets/personal/blender/sdc.gif"
						date="August 2017"
						title="SDC Logo">
			<picture-caption>An animated logo for the Satellite Development Club.</picture-caption>
			<picture-description>
				<p>
					This is based on the flat, drawn-out logo for the Satellite Development Club (SDC), except
					in 3D and animated! This was the first animation I ever made and I'm pleased with the results!
				</p>
			</picture-description>
		</app-image-card>
	</div>
</div>
