/* You can add global styles to this file, and also import other style files */
@import "theme-blue.scss";

html, body {
    height: 100%;
    font-size: 1em !important; // wat?
}
pre, code {
    font-family: Inconsolata, monospace;
}

h1 {
    font-size: 2.5em !important;
}

h2 {
    margin-bottom: 0.25em !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.ngu-touch-container {
    height: 100%;
}
