
<div class="content-container">
    <div class="intro">
        <h1>Home</h1>
        <p>Hi! I'm <span matTooltip="At least, I think">Chris Myers</span>, and I guess this is my
        homepage! It's filled with stuff I've done, things I've worked on, and other miscellaneous
        things I enjoy, so take a look around!</p>

        <p>I have a liking for programming, games, and 3D (CG) art &mdash; really, anything that involves
        computers &mdash; not to mention data <em>stuff</em>, and less frequently <span matTooltip="Especially of cats">
        photography</span>, writing,  and the occasional hike or long walk. Music is in there
        somewhere... but I'm a little odd in that area, so let's not go there.</p>

        <p>To check out some of things on this site, just check the header. Hopefully you'll find
        something I like, and I'm always adding more!</p>
    </div>

    <div class="photo">
        <mat-card>
            <img src="/assets/personal/img/me.jpg" alt="me">
            <span class="caption">Background: Kibbutz Ketura, Israel</span>
        </mat-card>
    </div>

    <div class="carousel">
        <mat-card>
            <mat-card-title><h2>Some things I've made</h2></mat-card-title>
            <ngu-carousel #carousel [inputs]="carouselConfig" [dataSource]="images">
                <ngu-item NguCarouselItem *nguCarouselDef="let item;">
                    <img [src]="item.image" [alt]="item.alt"/>
                    <div class="caption"><em>{{item.caption}}</em></div>
                </ngu-item>

                <button NguCarouselPrev hidden #prev></button>
                <button NguCarouselNext hidden #next></button>
            </ngu-carousel>
            <ul class="carousel-point" NguCarouselPoint>
                <li *ngFor="let j of carousel.pointNumbers; let j = index" [class.active]="j==carousel.activePoint" (click)="carousel.moveTo(j)"></li>
            </ul>
            <div class="carousel-buttons">
                <button mat-icon-button (click)="prev.click()"><mat-icon [inline]="true">keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button (click)="next.click()"><mat-icon [inline]="true">keyboard_arrow_right</mat-icon></button>
            </div>
        </mat-card>
    </div>

    <div class="history">
        <h2>About me</h2>

        <p>I'm currently attending <b>Worcester Polytechnic Institute</b> (WPI) in Worcester, MA, with
        a major in computer science and a minor in data science. Although I'm working on a CS
        degree, I started learning programming and general advanced computer skills on my own in
        high school, starting with C++. Since then I've been tinkering about with just about
        everything I can get my hands on, from systems programming and networking to data
        visualization and web development. In recent years I've branched out into more artistic
        works, including some of the above 3D modeling work and fancily-typeset documents in
        LaTeX.</p>

        <h2>Current Activities</h2>

        <p>For my senior year capstone I'm working on a data collection &amp; analysis project concerning
        internet connectivity in the US. It involves several terabytes of data and some fun (read:
            complicated) data analyses, so I've got more than enough to work with for now!</p>

        <p>When I'm not working on that, I'm usually busy working on this site or on web development work
        for WPI's "Beecology" project. In my down time I've once again become addicted to the game
            <em>Factorio</em> (check out the games page!), hoping to build some megafactory. Starting
            I'll be starting a full time job at Amazon Robotics as a software development engineer,
            so that'll replace all the time I put into school.</p>

    </div>
</div>
