.year {
    margin-left: 1em;
    font-style: italic;
    font-size: 0.75em;
    margin-top: auto;
    margin-bottom: auto;
}

mat-expansion-panel {
    min-width: 100%;
}

mat-panel-description {
    display: flex;
    justify-content: flex-end;
}

mat-panel-title {
    font-family: Lalezar, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
}

mat-action-row {
    a {
        margin-right: 1em;
    }
    img {
        max-width: 1.5em;
        opacity: 1;
        filter: invert(100%);
    }
}
